* {
    box-sizing: border-box;
    font-family: sans-serif;
}


p {
 margin: 0px;
}
body {
    background-color: rgb(224, 223, 216);
       
}

#header-banner {
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, rgb(35, 100, 143), rgb(117, 144, 184), rgb(117, 144, 184), rgb(35, 100, 143));
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -8px);
    position: fixed;
    z-index: 12;
    font-weight: 800;

    border-bottom: 3px black solid;
}

#afmusic {
    display: none;
}

.frontpage {
    
    transform: translate(0px, -8px);
    height: 710px;
}
.secondpage {
    background-color: rgb(184, 183, 176);
    height: 710px;
}
.thirdpage {   
    height: 710px;
}


.menu {
    transform:translate(0px, -30px);
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    font-weight: 700;
    transform: translate(0px, 20px);
}
.menu div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu img {
    height: 200px;

    
}
#home, #about, #accomplishment, #ewan-q {
    text-decoration: none;
    color: rgb(35, 31, 32);
/* transition: property duration style delay*/
    transition: all 300ms ease 100ms;
}
#home:hover {
    text-decoration: none;
    color: rgb(80, 80, 80);
    scale: 1.08;
}
#about:hover {
    text-decoration: none;
    color: rgb(80, 80, 80);
    scale: 1.08;
}
#accomplishment:hover {
    text-decoration: none;
    color: rgb(80, 80, 80);
    scale: 1.08;
}
#ewan-q:hover {
    text-decoration: none;
    color: rgb(80, 80, 80);
    scale: 1.08;
}

.front-content {
    height: auto;
    width: ;
    /* background-color: red; */
    margin-top: 60px;
}
#front-text {
    display: flex;
    justify-content: center;
    
}
.front-content p {
    display: inline-block;
    width: 600px;
    font-size: 50px;
    font-family: serif;
    text-align: center;
    
}


.button1 {
    display: flex;
    justify-content: center;
}
#button1 {
    text-decoration: none;
    color: rgb(231, 231, 232);
    border: rgb(5, 10, 48) solid;
    background: none;
    cursor: pointer;
    font-size: 25px;
    transition: 800ms;
    position: relative;
    overflow: hidden;

    padding: 18px 30px;
    border-radius: 50px;
    transform: translate(0px, 90px);
    /* transition: scale 300ms ease 100ms; */

}
#button1::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50% 50% 0 0;
    width: 100%;
    height: 180%;
    background: rgb(5, 10, 48);
    z-index: -1;
    transition: 800ms;
}
#button1:hover {
    /* scale: 1.05; */
    color: rgb(5, 10, 48);
    height: 0%;
}
#button1:hover::before {
    height: 0%;
}

.v-line {
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}
#v-line {
    height: 120px;
    width: 3px;
    background-color: black;
    position: relative;
    top: 88px;
    
}

hr {
    transform: translate(-8px, -14px);
}


#page-content {
    animation-name: intro;
    animation-duration: 800ms;
    animation-timing-function: ease-out;
}

@keyframes intro {
    0% {
        transform: translate(0px, -300px);
        scale: 1.05;
    }
    100% {
        transform: translate(0px, 0px);
        scale:1
    }
}



